body {
    background-image: url('/assets/bkgrd2.jpg');
    font-family:'Segoe UI', Tahoma, sans-serif;
    text-align: center;
    padding: 2.3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header,
footer {
    background: rgba(250, 235, 215, 0.786);
}

article {
    background: rgba(210, 180, 140, 0.736);
}
h1,
h2,
h3 {
    margin: 1rem;
}

p {
 text-align: justify;
 padding: 1rem;
}

#backButton {
    background: rgba(50, 27, 1, 0.758);
    color: rgb(225, 208, 186);
    max-width: 20vw;
    padding: .5rem;
    border: 1.5px solid rgba(245, 245, 245, 0.659);
    border-radius: 4px;
}

.topics {
    columns: 300px 2;
    column-gap: 45px;
    padding: 20px;
    text-align: justify;
}
