body {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-image: url('/assets/bkgrd1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 1rem;
}

.rsvp-container {
    flex: 1; /* Pushes the footer to the bottom with line 2 of code for column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(54, 38, 1, 0.436);
    padding: 20px;
    border: 10px solid #132900c4;
    border-radius: 10px;
    box-shadow: 15px 6px 8px 10px rgb(54, 38, 1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #132900;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    color: rgba(9, 23, 0, 0.853);
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid rgb(86, 55, 1);
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #1a3701;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #226200;
}

footer {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    background: #f8f8f890; 
    width: 100%;
    position: relative;
    border: 12px solid #132900d9;
}

#tw {
    color: rgb(48, 26, 1);
}
