/* Base styles */
body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/assets/laptop-5474366_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  .survey-wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.691);
    border: 0.01rem solid black;
    border-radius: 0.5rem;
    box-shadow: 12px 20px 6px 10px rgba(0, 0, 0, 0.858);
    padding: 1rem;
  }
  
  #survey-title {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  #survey-content {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  #question {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .answer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 3rem;
  }
  
  .btn {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0.7rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: rgb(191, 146, 87);
    border: 2px solid black;
  }
  
  #result {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
    color: #000;
  }
  
  .back-button {
    background: rgba(0, 0, 0, 0.856);
    color: whitesmoke;
    margin: 1rem auto;
    padding: 0.7rem;
    border: 2.5px solid rgb(182, 158, 128);
    border-radius: 6.7px;
    cursor: pointer;
    display: block;
  }
  
  footer {
    text-align: center;
    margin-top: 1rem;
  }
  
  .hide {
    display: none;
  }
  