#survey-title {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/assets/laptop-5474366_1280.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

.survey-container{
    display: flex;
    flex-direction: column;
    width: 40rem;                      
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.691);
    border: .01rem solid black;
    border-radius: 0.5rem;
    box-shadow: 12px 20px 6px 10px rgba(0, 0, 0, 0.858);
}

#question-container {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

#question {
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-group {
    width: fit-content;
}

.btn {
    font-family: Verdana, Tahoma, sans-serif;
    padding: .7rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
}

input,
.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(191, 146, 87);
    border: 2px solid black;
}

#backHome {
    background: rgba(0, 0, 0, 0.856);
    color: whitesmoke;
    margin: 1rem;
    padding: .7rem;
    border: 2.5px solid rgb(182, 158, 128);
    border-radius: 6.7px;
}

.hide {
    display: none;
}

#result {
    margin: 2rem auto;
}

#question, #result {
    font-size: 1.5rem;
    font-weight: bold;
}